body {
    font-family: Arial, sans-serif;
    background-color: aliceblue;
}
.search menu{
    position: absolute;
}
h2 {
    font-weight: bold;
}

.list-group-item {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    color: #333;
}

.list-group-item:hover {
    background-color: #e9ecef;
}
.about{
    background-color: aqua;
}

.footer {
    background-color: azure;
    position: relative;
    bottom: 0;
    width: 100%;
}

.navbar-nav .nav-item .nav-link {
   
    margin-left: 15px;
    font-size: 18px;
}

header {
    margin-bottom: 50px;
}
